<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.layout == "post" %}
  {% seo title=false %}
  {% else %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
  {% endif %}
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% endif %}

  {{ page.head }}

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  {% if page.layout == "home" %}
  {%- feed_meta -%}
  {% endif %}

</head>
